* {
  padding: 0px;
  margin: 0px; 
}
  header {
    display:flex;
    justify-content: space-between;
    align-items: center ;
    margin-right: 40px;
    
    
  }
  .logo{
    
    margin-left: 60px;
    margin-top: 5px;  
  }
  .nav-links {
    display: flex;
    list-style: none;
    width: 300px;
    margin-right: 100px;
    padding: 20px 0;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    cursor: pointer;
  
  }
  .nav-links li a {
    color: #747474;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    
  }
  .nav-links li a:hover {
    color:#00b39b;
    cursor : pointer;
  }
  .dropdown-content{
    width: 200px;
    height: 150px;
    background-color: white;
    position: absolute;
    right: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 120px;
    margin-top: 20px;
    display: none;
    
  }

  .dropdown-content a {
    color:#747474;
    display: block;
    padding: 1px;
    margin-bottom: 10px;
    text-decoration: none;
    
  }
  .dropdown-content a:hover{
    color:#00b39b;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }

  .dropbtn:hover{
    color:#00b39b; 
  }
  .dropbtn{
    color: #747474;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;

  }
  .span{
    color:#00b39b;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .container h1{
    color:#00b39b;
    font-size: 2.125rem;
    margin-top: 50px;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
  }
  .container2{
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
    margin: 20px 100px ;
    padding:  20px;
    color: #747474;
   
    
  }
  .container2 p {
    font-family: Roboto,Arial,sans-serif;
    margin:auto ;
    
  }
  

  /* service */
  .service_section{
    
    display: flex;
    justify-content: space-around;
    align-items: center; 
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    
  }
  .item1{
    background-color:#00ccb1;;
    height: 260px;
    width: 311px;
    margin: 30px;
    padding: 40px;
    border-radius: 10px;
    
  }
  .item1 h1{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
  }
  .item1 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
  }
  .item2{
    background-color: #3d83df;;
    height: 260px;
    width: 311px;
    margin: 30px;
  padding: 40px;
  border-radius: 10px;
  }
  .item3{
    background-color: #1b2734;;
    height: 260px;
    width: 311px;
    margin: 30px;
    padding: 40px;
    border-radius: 10px;
  }
  .brands-section{
    
    width: 1055px;
    height: 150px;
    margin-bottom: 10px;
    

  }

  .brands-section h1 {
    font-size: 1.625em;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    padding: 20px 150px ;
  }


/*  improve live*/
.main{
  
  display: flex;
  align-items: center ;
  flex-direction: column;
  margin:10px;
  padding: auto;
  max-width: 460px;
  margin: 0 auto 4.1875rem;
  font-size: .875em;
  text-align: center;
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  color: #747474;
  height: 200px;
  
}
.main h1{
  margin: 20px;
  color:#00b39b;
  font-size: 2.1428571429em;
  font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
  
}
.main h2{
  
  font-size: 2.1428571429em;
  color: #00b39b;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: -.3px;
}
.main p{
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 1.7142857143;
  font-family: Roboto,Arial,sans-serif;
}

/*  CARDS*/
  .office_slider {
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1015px;
    padding: 0 20px ;
    margin: 0 auto;
    border-radius: 10px;
    
  

  }
  .office{
    margin: 10px;
    padding-top: 5px;
    padding-left: 5px;
    
    border:1px solid rgba(0, 0, 0, .03);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    
  }

  .image10{
    
    width: 270px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 270px;
    
    
    

   
  }
  .desc_btn{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .office_desc{
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.66666667;
    padding: 1.11111em;
    color: #747474;
    font-family: Roboto,Arial,sans-serif;
  
  }
  .btn_small{
    background-color: #3d83df;
    padding: 20px;
    border-radius: 10px;
    height: 10px;
    
    
  }
  .btn_small h1{
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    font-size: 10px;
    line-height: 1em;
  
  }
  
    
  
  
  /* Join us */

  .join_us{
    margin-top: 150px;
    margin-bottom: 100px ;
    

  }
  .join_us h1{
    font-size: 2.14em;
    color: #333;
    margin-bottom: 0.75em;
    margin: 1em 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
  }
  .btn {
    margin-left: 40%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: white;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
    margin: 14 18 14 18 ;
  
  }
  .btn a {
    text-decoration: none;
    color: #3d83df;

  }
  /* FOOTER*/
  .main-footer{
    border-top: 1px solid #eef2f2;
    text-align: center;
    color: #ababab;
    padding: 1em 0 ;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif;
  }
  
  .section_inner {
    margin: 0 auto ;
    padding: 0 20px;
  }
  .section_inner p {
    
    margin-top: 20px;
  }
  .section_inner a {
    text-decoration: none;
    color: #3d83df;
   
  }